[Unit]
Description=Repl egress firewall for repl containers
After=docker.service
Requires=docker.service
PartOf=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/repl/firewall.sh

[Install]
WantedBy=multi-user.target docker.service
